@font-face {
  font-family: "Mavela Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Mavela Regular"),
    url("/assets/fonts/Mavela-Regular.woff") format("woff");
}

* {
  margin: 0;
}

body {
  background-image: url(/assets/images/bg-stripes.svg);
  margin: 0;
}

h1 {
  font-family: "Mavela Regular";
  font-weight: normal;
}

img {
  max-width: 100%;
}

.background_video {
  object-fit: cover;
}

.background_video,
.video_overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.video_overlay {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(/assets/images/bg-stripes.svg);
  background-repeat: repeat;
  background-size: 100px;
  background-position: 0;
}

.heading_container {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
  display: grid;
  height: 55vh;
  left: 50%;
  min-height: 500px;
  min-width: 500px;
  place-content: center;
  place-items: center;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55vh;
}

.heading_container > img {
  max-height: 25vh;
}

.main_heading {
  color: #fff;
  font-size: 8vh;
  max-width: 9ch;
}
