@font-face {
  font-family: "Mavela Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Mavela Regular"),
    url("/static/assets/fonts/Mavela-Regular.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
}

body {
  background: rgba(16, 46, 77, 1);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: max(min(2vh, 2vw), 0.9rem);
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-weight: normal;
  line-height: 1.618;
  margin: 0;
  min-height: 100vh;
}

section {
  position: absolute;
  top: 0;
  width: 100%;
}

main {
  align-content: center;
  align-items: center;
  background-image: url(/static/assets/images/bg-stripes.svg);
  background-repeat: repeat;
  background-size: 70px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

main,
#intro_container,
#intro_text {
  display: grid;
}

header,
section {
  height: 100vh;
  margin-inline: auto;
}

h1,
h2 {
  font-family: "Mavela Regular";
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 8vh;
  max-width: 9ch;
}

h2 {
  margin-bottom: max(1rem, 1vh, 1vw);
}

img {
  max-width: 100%;
}

/* ALLOW AUDIO BUTTON */
#button {
  background-color: tomato;
  border-color: transparent;
  border-radius: 50%;
  display: block;
  height: 100px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 1000;
}

/* BACKGROUND VIDEO */
#background_video {
  object-fit: cover;
}

#background_video,
.video_overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.video_overlay {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(/static/assets/images/bg-stripes.svg);
  background-repeat: repeat;
  background-size: 70px;
  background-position: 0;
}

/* SECOND PAGE/SCENE */
.heading_container {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
  display: grid;
  height: 55vh;
  left: 50%;
  min-height: 500px;
  min-width: 500px;
  place-content: center;
  place-items: center;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55vh;
}
.heading_container img {
  max-height: 35vh;
}

.main_heading {
  color: #fff;
}

#map svg {
  max-height: 100vh;
  max-width: 60vw;
  width: 60vw;
}

/* INTRO CONTENT */
#intro_container {
  align-items: center;
  right: 3rem;
}

#intro_text {
  gap: max(1rem, 1vh, 1vw);
  justify-items: end;
}

#intro_text .title {
  text-align: right;
}

#intro_text .descrition {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
  max-width: 55ch;
  padding: max(2rem, 2vh, 2vw);
}

/* RESOURCE INFO */
#resource_info {
  align-content: center;
  display: grid;
  justify-items: end;
}

#resource_info > div {
  margin-right: 3rem;
}

#resource_info_header {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
  padding: max(2rem, 2vh, 2vw);
  width: 43ch;
}

#resource_img {
  display: block;
  margin-bottom: max(1rem, 1vh, 1vw);
  margin-left: auto;
  max-width: max(200px, 10vw);
  width: 100%;
}

#resource_info_desc {
  background-color: rgba(0, 0, 0, 0.79);
  border-radius: 1rem;
  margin-top: max(1rem, 1vh, 1vw);
  padding: max(2rem, 2vh, 2vw);
  width: 43ch;
}

/* VOLUME */
#volume {
  display: flex;
  gap: max(0.8rem, 0.8vh, 0.8vw);
  margin-top: max(1rem, 1vh, 1vw);
}

#volume input {
  width: 100%;
}

/* RESOURCE INFO CARDS */
.info_card {
  background-color: rgba(0, 0, 0, 0.79);
  border-radius: 1rem;
  margin-top: max(1rem, 1vh, 1vw);
  padding: max(2rem, 2vh, 2vw);
  position: absolute;
  width: 43ch;
}

#info_card1 {
  bottom: 3rem;
  right: 3rem;
}

#info_card2 {
  left: 3rem;
  top: 3rem;
}
